{:supabase
 {:protocol [:or [:env "DEMO_XTDB_BACKBONE_SUPABASE_PROTOCOL"] "http"]
  :hostname [:env "DEMO_XTDB_BACKBONE_SUPABASE_HOST" {:default nil}]
  :port [:or [:env "DEMO_XTDB_BACKBONE_SUPABASE_PORT" {:type :edn}] 55121]
  :base_url [:env "DEMO_XTDB_BACKBONE_SUPABASE_BASE_URL" {:default nil}]
  :schema_name [:or [:env "DEMO_XTDB_BACKBONE_SUPABASE_SCHEMA"] "scratch_v0"]
  :api_key [:or [:env "DEMO_XTDB_BACKBONE_SUPABASE_API_KEY"]
            "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZS1kZW1vIiwicm9sZSI6ImFub24iLCJleHAiOjE5ODM4MTI5OTZ9.CRXP1A7WOeoJeXxjNni43kdQwgnWNReilDMblYTn_I0"]
  :auth_token [:or [:env "DEMO_XTDB_BACKBONE_SUPABASE_AUTH_TOKEN"]
               [:env "DEMO_XTDB_BACKBONE_SUPABASE_API_KEY"]
               "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZS1kZW1vIiwicm9sZSI6ImFub24iLCJleHAiOjE5ODM4MTI5OTZ9.CRXP1A7WOeoJeXxjNni43kdQwgnWNReilDMblYTn_I0"]}}
