{:ns-groups
 [{:pattern "^xt\\."
lang/config.edn:3:   :name clj-kondo.hooks.lang-xtalk}
lang/config.edn:4:  {:pattern "^lang\\.model\\.spec-xtalk\\."
lang/config.edn:5:   :name clj-kondo.hooks.lang-xtalk}
  {:pattern ".+"
lang/config.edn:7:   :name clj-kondo.hooks.lang-postgres}]

 :hooks
 {:analyze-call
lang/config.edn:11:  {lang.core/script clj-kondo.hooks.lang-postgres/script
lang/config.edn:12:   lang.core/script- clj-kondo.hooks.lang-postgres/script
lang/config.edn:13:   lang.core/script+ clj-kondo.hooks.lang-postgres/script
lang/config.edn:14:   lang.core/defspec.xt clj-kondo.hooks.lang-xtalk/defspec-xt
lang/config.edn:15:   lang.typed/defspec.xt clj-kondo.hooks.lang-xtalk/defspec-xt
lang/config.edn:16:   defspec.xt clj-kondo.hooks.lang-xtalk/defspec-xt
lang/config.edn:17:   defn.js clj-kondo.hooks.lang-xtalk/defn-xt
lang/config.edn:18:   lang.core/defn.js clj-kondo.hooks.lang-xtalk/defn-xt
lang/config.edn:19:   defvar.js clj-kondo.hooks.lang-xtalk/defvar-xt
lang/config.edn:20:   lang.core/defvar.js clj-kondo.hooks.lang-xtalk/defvar-xt
lang/config.edn:21:   defglobal.xt clj-kondo.hooks.lang-xtalk/defglobal-xt
lang/config.edn:22:   defn.pg clj-kondo.hooks.lang-postgres/defn-pg
lang/config.edn:23:   defrun.pg clj-kondo.hooks.lang-postgres/defn-pg
lang/config.edn:24:   clj-kondo.hooks.lang-xtalk/defn.xt clj-kondo.hooks.lang-xtalk/defn-xt
lang/config.edn:25:   clj-kondo.hooks.lang-xtalk/def.xt clj-kondo.hooks.lang-xtalk/def-xt
lang/config.edn:26:   clj-kondo.hooks.lang-xtalk/defmacro.xt clj-kondo.hooks.lang-xtalk/defmacro-xt
lang/config.edn:27:   clj-kondo.hooks.lang-xtalk/defgen.xt clj-kondo.hooks.lang-xtalk/defgen-xt
lang/config.edn:28:   clj-kondo.hooks.lang-xtalk/defvar.xt clj-kondo.hooks.lang-xtalk/defvar-xt
lang/config.edn:29:   defprotocol.xt clj-kondo.hooks.lang-xtalk/defprotocol-xt
lang/config.edn:30:   xt.lang.common-protocol/defprotocol.xt clj-kondo.hooks.lang-xtalk/defprotocol-xt
lang/config.edn:31:   proto/defprotocol.xt clj-kondo.hooks.lang-xtalk/defprotocol-xt
lang/config.edn:32:   clj-kondo.hooks.lang-xtalk/defspec.xt clj-kondo.hooks.lang-xtalk/defspec-xt
lang/config.edn:33:   clj-kondo.hooks.lang-xtalk/defglobal.xt clj-kondo.hooks.lang-xtalk/defglobal-xt
lang/config.edn:34:   defimpl.xt clj-kondo.hooks.lang-xtalk/defimpl-xt
lang/config.edn:35:   xt.lang.common-protocol/defimpl.xt clj-kondo.hooks.lang-xtalk/defimpl-xt
lang/config.edn:36:   proto/defimpl.xt clj-kondo.hooks.lang-xtalk/defimpl-xt
lang/config.edn:37:   fact clj-kondo.hooks.lang-xtalk/fact-xt
lang/config.edn:38:   fact:global clj-kondo.hooks.lang-xtalk/fact-global-xt
lang/config.edn:39:   clj-kondo.hooks.lang-postgres/defn.pg clj-kondo.hooks.lang-postgres/defn-pg
lang/config.edn:40:   clj-kondo.hooks.lang-postgres/defrun.pg clj-kondo.hooks.lang-postgres/defn-pg
lang/config.edn:41:   deftype.pg clj-kondo.hooks.lang-postgres/deftype-pg
lang/config.edn:42:   clj-kondo.hooks.lang-postgres/deftype.pg clj-kondo.hooks.lang-postgres/deftype-pg}}

 :linters
 {:namespace-name-mismatch {:level :off}
  :lang.postgres/one-let {:level :warning}
  :lang.postgres/nested-let {:level :warning}
  :lang.postgres/input-prefix {:level :warning}
  :lang.postgres/local-prefix {:level :warning}
  :lang.postgres/return-bound {:level :warning}
  :lang.postgres/retired-entity-option {:level :error}
  :lang.postgres/invalid-owner {:level :error}
  :lang.postgres/invalid-provides {:level :error}
  :lang.xtalk/block-in-value {:level :error}
  :lang.xtalk/field-collision {:level :error}
  :lang.xtalk/invalid-destructuring {:level :error}
  :lang.xtalk/redundant-get-key {:level :warning}
  :lang.xtalk/redundant-fn-arrow {:level :warning}
  :lang.xtalk/nested-dot-access {:level :warning}
  :lang.xtalk/redundant-dot-destructure {:level :warning}
  :lang.xtalk/merge-dot-destructure {:level :warning}}}
