{:shell "/bin/bash"
 :setup {:type :docker-compose
         :root "docker/supabase-min"
         :config-path "docker/supabase-min/config.toml"
         :compose-file "docker-compose.yml"
         :env-file ".env"
         :project-name "foundation-min"}
 :db {:host "127.0.0.1"
      :port 55122
      :user "postgres"
      :password "postgres"
      :database "postgres"}
 :api {:protocol "http"
       :hostname "127.0.0.1"
       :port 55121
       :base-url nil
       :anon-key "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZS1kZW1vIiwicm9sZSI6ImFub24iLCJleHAiOjE5ODM4MTI5OTZ9.CRXP1A7WOeoJeXxjNni43kdQwgnWNReilDMblYTn_I0"
       :service-key "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZS1kZW1vIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImV4cCI6MTk4MzgxMjk5Nn0.EGIM96RAZx35lJzdJsyH-qQwv8Hdp7fsn3W0YpN81IU"}}
