{:hooks {std.lib.foundation/intern-in clj-kondo.hooks.std-lib/import-vars-hook}
 :lint-as {;; Existing rules
           std.make/def.make clojure.core/def
           lua.nginx.task/INSTANCE-KEY clojure.core/def
           js.react/curr clojure.core/def
           js.react/const clojure.core/def
           js.react/LOG! clojure.core/do
           js.react/derive clojure.core/defn

           defmacro.xt clojure.core/defmacro
           defn.xt     clojure.core/defn
           def$.xt     clojure.core/def
           def.xt     clojure.core/def
           defrun.xt   clojure.core/def

           defmacro.js clojure.core/defmacro
           defn.js     clojure.core/defn
           def$.js     clojure.core/def
           def.js     clojure.core/def
           defrun.js   clojure.core/def

           defmacro.lua clojure.core/defmacro
           defn.lua     clojure.core/defn
           def$.lua     clojure.core/def
           def.lua     clojure.core/def
           defrun.lua   clojure.core/def
           
           defmacro.py clojure.core/defmacro
           defn.py     clojure.core/defn
           def$.py     clojure.core/def
           def.py     clojure.core/def
           defrun.py   clojure.core/def}
 :ns-groups [{:pattern "(scratch|lua\\..*|xt\\..*|rt\\..*|web3\\..*|js\\..*|python\\..*|kmi\\..*|code\\.gen)" :name custom-lang-forms}]
 :linters {:refer-all {:exclude [clojure.set code.test]
                       :level :off}
           :clojure-lsp/unused-public-var
           {:level :off}
           :use
           {:level :off}
           :unused-namespace
           {:level :off}
           :unused-import
           {:level :off}
           :unused-binding
           {:level :off}
           :redundant-do
           {:level :off}
           :missing-else-branch
           {:level :off}
           :unknown-require-option
           {:level :off}
           :unresolved-var
           {:level :off}
           :unresolved-namespace
           {:exclude [code.manage]}
           :unresolved-symbol
           {:exclude [=>
                      fact
                      (clojure.test/is [match?])]}}}

  
