{:document/type :code-migration-conformance
 :cases
 [{:case/id :migration/basic-source :case/kind :source
   :case/input "(ns example.core\n  (:require [std.lib.foundation :as f]))\n\n(defn add-one [x] (f/inc x))\n"
   :case/output "(ns example.core\n  (:require [std.foundation :as f]))\n\n(defn add-one [x] (f/inc x))\n"}
  {:case/id :migration/basic-test :case/kind :test
   :case/input "(ns example.core-test\n  (:require [example.core :refer :all])\n  (:use code.test))\n\n^{:refer example.core/add-one :added \"4.0\"}\n(fact \"adds one\"\n  (add-one 1)\n  => 2)\n"
   :case/output "(ns example.core-test\n  (:require [example.core :refer :all])\n  (:use code.test))\n\n^{:refer (quote example.core/add-one) :added \"4.0\"}\n(fact \"adds one\"\n  (add-one 1)\n  => 2)\n"}]}
