{:theme    "bolton"
 :output   "public"
 :pages    {index      
            {:base  "home.html"
             :input "test/documentation/tahto/home.clj"
             :title "tahto"
             :subtitle "patterns and blocks"}

             tahto-benchmark
             {:input "test/documentation/tahto/tahto_benchmark.clj"
              :title "benchmark"
              :subtitle "measurement and profile"}

             tahto-code
             {:input "test/documentation/tahto/tahto_code.clj"
              :title "code"
              :subtitle "code manipulation"}

            tahto-code-block
            {:input "test/documentation/tahto/tahto_code_block.clj"
             :title "code.block"
             :subtitle "code representation"}

            tahto-code-navigate
            {:input "test/documentation/tahto/tahto_code_navigate.clj"
             :title "code.navigate"
             :subtitle "code navigate"}

            tahto-code-query
            {:input "test/documentation/tahto/tahto_code_query.clj"
             :title "code.query"
             :subtitle "code query and traversal"}

            tahto-config
            {:input "test/documentation/tahto/tahto_config.clj"
             :title "config"
             :subtitle "secured configuration"}

            tahto-core
            {:input "test/documentation/tahto/tahto_core.clj"
             :title "core"
             :subtitle "general functions"}

            tahto-core-component
            {:input "test/documentation/tahto/tahto_core_component.clj"
             :title "core.component"
             :subtitle "dependency injection"}

            tahto-core-version
            {:input "test/documentation/tahto/tahto_core_version.clj"
             :title "core.version"
             :subtitle "semantic versioning"}

            tahto-core-zip
            {:input "test/documentation/tahto/tahto_core_zip.clj"
             :title "core.zip"
             :subtitle "functional zipper"}

            tahto-data
            {:input "test/documentation/tahto/tahto_data.clj"
             :title "data"
             :subtitle "generic data methods"}

            tahto-deploy
            {:input "test/documentation/tahto/tahto_deploy.clj"
             :title "deploy"
             :subtitle "code deployment"}

            tahto-event
            {:input "test/documentation/tahto/tahto_event.clj"
             :title "event"
             :subtitle "conditional restarts"}

            tahto-function
            {:input "test/documentation/tahto/tahto_function.clj"
             :title "function"
             :subtitle "methods for execution"}

            tahto-function-procedure
            {:input "test/documentation/tahto/tahto_function_procedure.clj"
             :title "function.procedure"
             :subtitle "self aware executives"}

            tahto-function-task
            {:input "test/documentation/tahto/tahto_function_task.clj"
             :title "function.task"
             :subtitle "executing bulk tasks"}

            tahto-image
            {:input "test/documentation/tahto/tahto_image.clj"
             :title "image"
             :subtitle "image manipulation"}

            tahto-io-archive
            {:input "test/documentation/tahto/tahto_io_archive.clj"
             :title "io.archive"
             :subtitle "zipped file access"}

            tahto-io-binary
            {:input "test/documentation/tahto/tahto_io_binary.clj"
             :title "io.binary"
             :subtitle "binary format coercion"}

            tahto-io-file
            {:input "test/documentation/tahto/tahto_io_file.clj"
             :title "io.file"
             :subtitle "file and directory access"}

            tahto-io-project
            {:input "test/documentation/tahto/tahto_io_project.clj"
             :title "io.project"
             :subtitle "project configuration support"}
            
            tahto-io-scheduler
            {:input "test/documentation/tahto/tahto_io_scheduler.clj"
             :title "io.scheduler"
             :subtitle "task scheduling and simulation"}
            
            newlisp-lib-aether
            {:input "test/documentation/newlisp/newlisp_lib_aether.clj"
             :title "lib.aether"
             :subtitle "interface for org.eclipse.aether"}
            
            newlisp-lib-datomic
            {:input "test/documentation/newlisp/newlisp_lib_datomic.clj"
             :title "lib.datomic"
             :subtitle "interface for com.datomic"}
            
            newlisp-lib-graphstream
            {:input "test/documentation/newlisp/newlisp_lib_graphstream.clj"
             :title "lib.graphstream"
             :subtitle "interface for org.graphstream"}
            
            newlisp-lib-jackson
            {:input "test/documentation/newlisp/newlisp_lib_jackson.clj"
             :title "lib.jackson"
             :subtitle "interface for com.fasterxml.jackson"}
            
            newlisp-lib-jgit
            {:input "test/documentation/newlisp/newlisp_lib_jgit.clj"
             :title "lib.jgit"
             :subtitle "interface for org.eclipse.jgit"}
            
            newlisp-lib-jsoup
            {:input "test/documentation/newlisp/newlisp_lib_jsoup.clj"
             :title "lib.jsoup"
             :subtitle "interface for org.jsoup"}
            
            newlisp-lib-opencl
            {:input "test/documentation/newlisp/newlisp_lib_opencl.clj"
             :title "lib.opencl"
             :subtitle "interface for org.jocl"}
            
            newlisp-lib-oshi
            {:input "test/documentation/newlisp/newlisp_lib_oshi.clj"
             :title "lib.oshi"
             :subtitle "interface for com.github.oshi"}
            
            newlisp-lib-worldwind
            {:input "test/documentation/newlisp/newlisp_lib_worldwind.clj"
             :title "lib.worldwind"
             :subtitle "interface for org.nasa.worldwind"}
            
            newlisp-lib-rabbitmq
            {:input "test/documentation/newlisp/newlisp_lib_rabbitmq.clj"
             :title "lib.rabbitmq"
             :subtitle "interface for rabbitmq"}

            tahto-math
            {:input "test/documentation/tahto/tahto_math.clj"
             :title "math"
             :subtitle "basic maths and statistics"}

            tahto-math-variant
            {:input "test/documentation/tahto/tahto_math_variant.clj"
             :title "math.variant"
             :subtitle "variant logic package"}
            
            tahto-module
            {:input "test/documentation/tahto/tahto_module.clj"
             :title "module"
             :subtitle "code functionality management"}
            
            tahto-module-deps
            {:input "test/documentation/tahto/tahto_module_deps.clj"
             :title "module.deps"
             :subtitle "dependency management"}
            
            tahto-module-namespace
            {:input "test/documentation/tahto/tahto_module_namespace.clj"
             :title "module.namespace"
             :subtitle "namespace management"}

            tahto-object
            {:input "test/documentation/tahto/tahto_object.clj"
             :title "object"
             :subtitle "object to data"}
            
            tahto-platform
            {:input "test/documentation/tahto/tahto_platform.clj"
             :title "platform"
             :subtitle "platform building blocks"}

            tahto-print
            {:input "test/documentation/tahto/tahto_print.clj"
             :title "print"
             :subtitle "print primitives"}

            tahto-print-graphic
            {:input "test/documentation/tahto/tahto_print_graphic.clj"
             :title "print.graphic"
             :subtitle "print visual primitives"}

            tahto-publish
            {:input "test/documentation/tahto/tahto_publish.clj"
             :title "publish"
             :subtitle "documentation generation"}

            tahto-security
            {:input "test/documentation/tahto/tahto_security.clj"
             :title "security"
             :subtitle "encryption and JCA"}

            tahto-security-openpgp
            {:input "test/documentation/tahto/tahto_security_openpgp.clj"
             :title "security.openpgp"
             :subtitle "interface to bouncycastle openpgp"}

            tahto-state
            {:input "test/documentation/tahto/tahto_state.clj"
             :title "state"
             :subtitle "unified state"}

            tahto-state-ova
            {:input "test/documentation/tahto/tahto_state_ova.clj"
             :title "state.ova"
             :subtitle "mutable, observable array"}

            tahto-state-concurrent
            {:input "test/documentation/tahto/tahto_state_concurrent.clj"
             :title "state.concurrent"
             :subtitle "concurrent datastructures"}

            tahto-string
            {:input "test/documentation/tahto/tahto_string.clj"
             :title "string"
             :subtitle "string manipulation"}

            tahto-string-text
            {:input "test/documentation/tahto/tahto_string_text.clj"
             :title "string.text"
             :subtitle "text manipulation"}

            tahto-test
            {:input "test/documentation/tahto/tahto_test.clj"
             :title "test"
             :subtitle "forms and runner"}

            tahto-time
            {:input "test/documentation/tahto/tahto_time.clj"
             :title "time"
             :subtitle "unified time"}

            tahto-tool-monitor
            {:input "test/documentation/tahto/tahto_tool_monitor.clj"
             :title "tool.monitor"
             :subtitle "live object monitor"}

            tahto-watch
            {:input "test/documentation/tahto/tahto_watch.clj"
             :title "watch"
             :subtitle "generalised observer on state"}}}
