{:dart   {:include :all
          :exclude [xt.sample]}
 :js     {:include :all
          :exclude [xt.sample]}
 :lua    {:include :all
          :exclude [xt.sample]}
 :python {:include :all
          :exclude [xt.sample]}
 :julia  {:include [xt.lang
                    xt.event]
          :exclude [xt.sample]}
 :ruby   {:include [xt.lang
                    xt.event
                    xt.substrate]
          :exclude [xt.sample]}}
