[{:category :xtalk-arr,
  :canonical-symbol x:arr-clone,
  :raw xt.lang.base-lib/arr-clone,
  :type :hard-link,
  :op :x-arr-clone,
  :cases [],
  :symbols [x:arr-clone]}
 {:category :xtalk-arr,
  :canonical-symbol x:arr-find,
  :raw xt.lang.base-lib/arr-find,
  :type :hard-link,
  :op :x-arr-find,
  :cases [],
  :symbols [x:arr-find]}
 {:category :xtalk-arr,
  :canonical-symbol x:arr-insert,
  :op :x-arr-insert,
  :emit :abstract,
  :cases [],
  :symbols [x:arr-insert]}
 {:category :xtalk-arr,
  :canonical-symbol x:arr-pop,
  :op :x-arr-pop,
  :emit :abstract,
  :cases [],
  :symbols [x:arr-pop]}
 {:category :xtalk-arr,
  :canonical-symbol x:arr-pop-first,
  :op :x-arr-pop-first,
  :emit :abstract,
  :cases [],
  :symbols [x:arr-pop-first]}
 {:category :xtalk-arr,
  :canonical-symbol x:arr-push,
  :op :x-arr-push,
  :emit :abstract,
  :cases [],
  :symbols [x:arr-push]}
 {:category :xtalk-arr,
  :canonical-symbol x:arr-push-first,
  :op :x-arr-push-first,
  :emit :abstract,
  :cases [],
  :symbols [x:arr-push-first]}
 {:category :xtalk-arr,
  :canonical-symbol x:arr-remove,
  :op :x-arr-remove,
  :emit :abstract,
  :cases [],
  :symbols [x:arr-remove]}
 {:category :xtalk-arr,
  :canonical-symbol x:arr-reverse,
  :raw xt.lang.base-lib/arr-reverse,
  :type :hard-link,
  :op :x-arr-reverse,
  :cases [],
  :symbols [x:arr-reverse]}
 {:category :xtalk-arr,
  :canonical-symbol x:arr-sort,
  :op :x-arr-sort,
  :emit :abstract,
  :cases [],
  :symbols [x:arr-sort]}
 {:category :xtalk-arr,
  :canonical-symbol x:arr-splice,
  :raw xt.lang.base-lib/arr-slice,
  :type :hard-link,
  :op :x-arr-slice,
  :cases [],
  :symbols [x:arr-splice]}
 {:category :xtalk-arr,
  :canonical-symbol x:arr-str-comp,
  :op :x-arr-str-comp,
  :emit :abstract,
  :cases [],
  :symbols [x:arr-str-comp]}
 {:category :xtalk-b64,
  :canonical-symbol x:b64-decode,
  :op :x-b64-decode,
  :emit :abstract,
  :cases [],
  :symbols [x:b64-decode]}
 {:category :xtalk-b64,
  :canonical-symbol x:b64-encode,
  :op :x-b64-encode,
  :emit :abstract,
  :cases [],
  :symbols [x:b64-encode]}
 {:category :xtalk-bit,
  :canonical-symbol x:bit-and,
  :op :x-bit-and,
  :macro std.lang.base.grammar-xtalk/tf-bit-and,
  :emit :macro,
  :cases [],
  :doc "bit and transform",
  :symbols [x:bit-and]}
 {:category :xtalk-bit,
  :canonical-symbol x:bit-lshift,
  :op :x-bit-lshift,
  :macro std.lang.base.grammar-xtalk/tf-bit-lshift,
  :emit :macro,
  :cases [],
  :doc "bit left shift transform",
  :symbols [x:bit-lshift]}
 {:category :xtalk-bit,
  :canonical-symbol x:bit-or,
  :op :x-bit-or,
  :macro std.lang.base.grammar-xtalk/tf-bit-or,
  :emit :macro,
  :cases [],
  :doc "bit or transform",
  :symbols [x:bit-or]}
 {:category :xtalk-bit,
  :canonical-symbol x:bit-rshift,
  :op :x-bit-rshift,
  :macro std.lang.base.grammar-xtalk/tf-bit-rshift,
  :emit :macro,
  :cases [],
  :doc "bit right shift transform",
  :symbols [x:bit-rshift]}
 {:category :xtalk-bit,
  :canonical-symbol x:bit-xor,
  :op :x-bit-xor,
  :macro std.lang.base.grammar-xtalk/tf-bit-xor,
  :emit :macro,
  :cases [],
  :doc "bit xor transform",
  :symbols [x:bit-xor]}
 {:category :xtalk-cache,
  :canonical-symbol x:cache,
  :op :x-cache,
  :emit :abstract,
  :cases [],
  :symbols [x:cache]}
 {:category :xtalk-cache,
  :canonical-symbol x:cache-del,
  :op :x-cache-del,
  :emit :abstract,
  :cases [],
  :symbols [x:cache-del]}
 {:category :xtalk-cache,
  :canonical-symbol x:cache-flush,
  :op :x-cache-flush,
  :emit :abstract,
  :cases [],
  :symbols [x:cache-flush]}
 {:category :xtalk-cache,
  :canonical-symbol x:cache-get,
  :op :x-cache-get,
  :emit :abstract,
  :cases [],
  :symbols [x:cache-get]}
 {:category :xtalk-cache,
  :canonical-symbol x:cache-incr,
  :op :x-cache-incr,
  :emit :abstract,
  :cases [],
  :symbols [x:cache-incr]}
 {:category :xtalk-cache,
  :canonical-symbol x:cache-list,
  :op :x-cache-list,
  :emit :abstract,
  :cases [],
  :symbols [x:cache-list]}
 {:category :xtalk-cache,
  :canonical-symbol x:cache-set,
  :op :x-cache-set,
  :emit :abstract,
  :cases [],
  :symbols [x:cache-set]}
 {:category :xtalk-core,
  :canonical-symbol x:apply,
  :op :x-apply,
  :emit :abstract,
  :cases [],
  :symbols [x:apply]}
 {:category :xtalk-core,
  :canonical-symbol x:cat,
  :op :x-cat,
  :emit :abstract,
  :cases [],
  :symbols [x:cat]}
 {:category :xtalk-core,
  :canonical-symbol x:del,
  :op :x-del,
  :emit :abstract,
  :cases [],
  :symbols [x:del]}
 {:category :xtalk-core,
  :canonical-symbol x:err,
  :op :x-err,
  :emit :abstract,
  :cases [],
  :symbols [x:err]}
 {:category :xtalk-core,
  :canonical-symbol x:eval,
  :op :x-eval,
  :emit :abstract,
  :cases [],
  :symbols [x:eval]}
 {:category :xtalk-core,
  :canonical-symbol x:len,
  :op :x-len,
  :emit :abstract,
  :cases [],
  :symbols [x:len]}
 {:category :xtalk-core,
  :canonical-symbol x:now-ms,
  :op :x-now-ms,
  :emit :abstract,
  :cases [],
  :symbols [x:now-ms]}
 {:category :xtalk-core,
  :canonical-symbol x:print,
  :op :x-print,
  :emit :abstract,
  :cases [],
  :symbols [x:print]}
 {:category :xtalk-core,
  :canonical-symbol x:random,
  :op :x-random,
  :emit :abstract,
  :cases [],
  :symbols [x:random]}
 {:category :xtalk-core,
  :canonical-symbol x:shell,
  :op :x-shell,
  :emit :abstract,
  :cases [],
  :symbols [x:shell]}
 {:category :xtalk-core,
  :canonical-symbol x:throw,
  :op :x-throw,
  :macro std.lang.base.grammar-xtalk/tf-throw,
  :emit :macro,
  :cases [],
  :doc "wrapper for throw transform",
  :symbols [x:throw]}
 {:category :xtalk-core,
  :canonical-symbol x:type-native,
  :op :x-type-native,
  :emit :abstract,
  :cases [],
  :symbols [x:type-native]}
 {:category :xtalk-core,
  :canonical-symbol x:unpack,
  :op :x-unpack,
  :emit :abstract,
  :cases [],
  :symbols [x:unpack]}
 {:category :xtalk-custom,
  :canonical-symbol x:callback,
  :op :x-callback,
  :emit :unit,
  :cases [],
  :symbols [x:callback]}
 {:category :xtalk-custom,
  :canonical-symbol x:copy-key,
  :op :x-copy-key,
  :macro std.lang.base.grammar-xtalk/tf-copy-key,
  :emit :macro,
  :cases [],
  :doc "copy-key transform",
  :symbols [x:copy-key]}
 {:category :xtalk-custom,
  :canonical-symbol x:del-key,
  :op :x-del-key,
  :macro std.lang.base.grammar-xtalk/tf-del-key,
  :emit :macro,
  :cases [],
  :doc "del-key transform",
  :symbols [x:del-key]}
 {:category :xtalk-custom,
  :canonical-symbol x:get-idx,
  :op :x-get-idx,
  :macro std.lang.base.grammar-xtalk/tf-get-key,
  :emit :macro,
  :cases [],
  :doc "get-key transform",
  :symbols [x:get-idx]}
 {:category :xtalk-custom,
  :canonical-symbol x:get-key,
  :op :x-get-key,
  :macro std.lang.base.grammar-xtalk/tf-get-key,
  :emit :macro,
  :cases [],
  :doc "get-key transform",
  :symbols [x:get-key]}
 {:category :xtalk-custom,
  :canonical-symbol x:get-path,
  :op :x-get-path,
  :macro std.lang.base.grammar-xtalk/tf-get-path,
  :emit :macro,
  :cases [],
  :doc "get-in transform",
  :symbols [x:get-path]}
 {:category :xtalk-custom,
  :canonical-symbol x:has-key?,
  :op :x-has-key?,
  :macro std.lang.base.grammar-xtalk/tf-has-key?,
  :emit :macro,
  :cases [],
  :doc "has key default transform",
  :symbols [x:has-key?]}
 {:category :xtalk-custom,
  :canonical-symbol x:nil?,
  :op :x-nil?,
  :macro std.lang.base.grammar-xtalk/tf-eq-nil?,
  :emit :macro,
  :cases [],
  :doc "equals nil transform",
  :symbols [x:nil?]}
 {:category :xtalk-custom,
  :canonical-symbol x:not-nil?,
  :op :x-not-nil?,
  :macro std.lang.base.grammar-xtalk/tf-not-nil?,
  :emit :macro,
  :cases [],
  :doc "not nil transform",
  :symbols [x:not-nil?]}
 {:category :xtalk-custom,
  :canonical-symbol x:offset,
  :op :x-offset,
  :macro std.lang.base.grammar-xtalk/tf-offset,
  :emit :macro,
  :cases [],
  :doc "gets the offset",
  :symbols [x:offset]}
 {:category :xtalk-custom,
  :canonical-symbol x:offset-len,
  :op :x-offset-len,
  :macro std.lang.base.grammar-xtalk/tf-offset-len,
  :emit :macro,
  :cases [],
  :doc "gets the length offset",
  :symbols [x:offset-len]}
 {:category :xtalk-custom,
  :canonical-symbol x:offset-rev,
  :op :x-offset-rev,
  :macro std.lang.base.grammar-xtalk/tf-offset-rev,
  :emit :macro,
  :cases [],
  :doc "gets the reverse offset",
  :symbols [x:offset-rev]}
 {:category :xtalk-custom,
  :canonical-symbol x:offset-rlen,
  :op :x-offset-rlen,
  :macro std.lang.base.grammar-xtalk/tf-offset-rlen,
  :emit :macro,
  :cases [],
  :doc "gets the reverse length offset",
  :symbols [x:offset-rlen]}
 {:category :xtalk-custom,
  :canonical-symbol x:set-idx,
  :op :x-set-idx,
  :macro std.lang.base.grammar-xtalk/tf-set-key,
  :emit :macro,
  :cases [],
  :doc "set-key transform",
  :symbols [x:set-idx]}
 {:category :xtalk-custom,
  :canonical-symbol x:set-key,
  :op :x-set-key,
  :macro std.lang.base.grammar-xtalk/tf-set-key,
  :emit :macro,
  :cases [],
  :doc "set-key transform",
  :symbols [x:set-key]}
 {:category :xtalk-file,
  :canonical-symbol x:slurp,
  :op :x-slurp,
  :emit :abstract,
  :cases [],
  :symbols [x:slurp]}
 {:category :xtalk-file,
  :canonical-symbol x:spit,
  :op :x-spit,
  :emit :abstract,
  :cases [],
  :symbols [x:spit]}
 {:category :xtalk-global,
  :canonical-symbol x:global-del,
  :op :x-global-del,
  :macro std.lang.base.grammar-xtalk/tf-global-del,
  :emit :macro,
  :cases [],
  :doc "default global del transform",
  :symbols [x:global-del]}
 {:category :xtalk-global,
  :canonical-symbol x:global-has?,
  :op :x-global-has?,
  :macro std.lang.base.grammar-xtalk/tf-global-has?,
  :emit :macro,
  :cases [],
  :doc "default global has transform",
  :symbols [x:global-has?]}
 {:category :xtalk-global,
  :canonical-symbol x:global-set,
  :op :x-global-set,
  :macro std.lang.base.grammar-xtalk/tf-global-set,
  :emit :macro,
  :cases [],
  :doc "default global set transform",
  :symbols [x:global-set]}
 {:category :xtalk-iter,
  :canonical-symbol x:iter-eq,
  :op :x-iter-eq,
  :emit :abstract,
  :cases [],
  :symbols [x:iter-eq]}
 {:category :xtalk-iter,
  :canonical-symbol x:iter-from,
  :op :x-iter-from,
  :emit :abstract,
  :cases [],
  :symbols [x:iter-from]}
 {:category :xtalk-iter,
  :canonical-symbol x:iter-from-arr,
  :op :x-iter-from-arr,
  :emit :abstract,
  :cases [],
  :symbols [x:iter-from-arr]}
 {:category :xtalk-iter,
  :canonical-symbol x:iter-from-obj,
  :op :x-iter-from-obj,
  :emit :abstract,
  :cases [],
  :symbols [x:iter-from-obj]}
 {:category :xtalk-iter,
  :canonical-symbol x:iter-has?,
  :op :x-iter-has?,
  :emit :abstract,
  :cases [],
  :symbols [x:iter-has?]}
 {:category :xtalk-iter,
  :canonical-symbol x:iter-native?,
  :op :x-iter-native?,
  :emit :abstract,
  :cases [],
  :symbols [x:iter-native?]}
 {:category :xtalk-iter,
  :canonical-symbol x:iter-next,
  :op :x-iter-next,
  :emit :abstract,
  :cases [],
  :symbols [x:iter-next]}
 {:category :xtalk-iter,
  :canonical-symbol x:iter-null,
  :default (return),
  :op :x-iter-null,
  :emit :unit,
  :cases [],
  :symbols [x:iter-null]}
 {:category :xtalk-js,
  :canonical-symbol x:json-decode,
  :op :x-json-decode,
  :emit :abstract,
  :cases [],
  :symbols [x:json-decode]}
 {:category :xtalk-js,
  :canonical-symbol x:json-encode,
  :op :x-json-encode,
  :emit :abstract,
  :cases [],
  :symbols [x:json-encode]}
 {:category :xtalk-lu,
  :canonical-symbol x:lu-create,
  :default {},
  :op :x-lu-create,
  :emit :unit,
  :cases [],
  :symbols [x:lu-create]}
 {:category :xtalk-lu,
  :canonical-symbol x:lu-del,
  :op :x-lu-del,
  :emit :abstract,
  :cases [],
  :symbols [x:lu-del]}
 {:category :xtalk-lu,
  :canonical-symbol x:lu-eq,
  :op :x-lu-eq,
  :macro std.lang.base.grammar-xtalk/tf-lu-eq,
  :emit :macro,
  :cases [],
  :doc "lookup equals transform",
  :symbols [x:lu-eq]}
 {:category :xtalk-lu,
  :canonical-symbol x:lu-get,
  :op :x-lu-get,
  :emit :abstract,
  :cases [],
  :symbols [x:lu-get]}
 {:category :xtalk-lu,
  :canonical-symbol x:lu-set,
  :op :x-lu-set,
  :emit :abstract,
  :cases [],
  :symbols [x:lu-set]}
 {:category :xtalk-math,
  :canonical-symbol x:m-abs,
  :op :x-m-abs,
  :emit :abstract,
  :cases [],
  :symbols [x:m-abs]}
 {:category :xtalk-math,
  :canonical-symbol x:m-acos,
  :op :x-m-acos,
  :emit :abstract,
  :cases [],
  :symbols [x:m-acos]}
 {:category :xtalk-math,
  :canonical-symbol x:m-asin,
  :op :x-m-asin,
  :emit :abstract,
  :cases [],
  :symbols [x:m-asin]}
 {:category :xtalk-math,
  :canonical-symbol x:m-atan,
  :op :x-m-atan,
  :emit :abstract,
  :cases [],
  :symbols [x:m-atan]}
 {:category :xtalk-math,
  :canonical-symbol x:m-ceil,
  :op :x-m-ceil,
  :emit :abstract,
  :cases [],
  :symbols [x:m-ceil]}
 {:category :xtalk-math,
  :canonical-symbol x:m-cos,
  :op :x-m-cos,
  :emit :abstract,
  :cases [],
  :symbols [x:m-cos]}
 {:category :xtalk-math,
  :canonical-symbol x:m-cosh,
  :op :x-m-cosh,
  :emit :abstract,
  :cases [],
  :symbols [x:m-cosh]}
 {:category :xtalk-math,
  :canonical-symbol x:m-exp,
  :op :x-m-exp,
  :emit :abstract,
  :cases [],
  :symbols [x:m-exp]}
 {:category :xtalk-math,
  :canonical-symbol x:m-floor,
  :op :x-m-floor,
  :emit :abstract,
  :cases [],
  :symbols [x:m-floor]}
 {:category :xtalk-math,
  :canonical-symbol x:m-log10,
  :op :x-m-log10,
  :emit :abstract,
  :cases [],
  :symbols [x:m-log10]}
 {:category :xtalk-math,
  :canonical-symbol x:m-loge,
  :op :x-m-loge,
  :emit :abstract,
  :cases [],
  :symbols [x:m-loge]}
 {:category :xtalk-math,
  :canonical-symbol x:m-max,
  :op :x-m-max,
  :emit :abstract,
  :cases [],
  :symbols [x:m-max]}
 {:category :xtalk-math,
  :canonical-symbol x:m-min,
  :op :x-m-min,
  :emit :abstract,
  :cases [],
  :symbols [x:m-min]}
 {:category :xtalk-math,
  :canonical-symbol x:m-mod,
  :op :x-m-mod,
  :emit :abstract,
  :cases [],
  :symbols [x:m-mod]}
 {:category :xtalk-math,
  :canonical-symbol x:m-pow,
  :op :x-m-pow,
  :emit :abstract,
  :cases [],
  :symbols [x:m-pow]}
 {:category :xtalk-math,
  :canonical-symbol x:m-quot,
  :op :x-m-quot,
  :emit :abstract,
  :cases [],
  :symbols [x:m-quot]}
 {:category :xtalk-math,
  :canonical-symbol x:m-sin,
  :op :x-m-sin,
  :emit :abstract,
  :cases [],
  :symbols [x:m-sin]}
 {:category :xtalk-math,
  :canonical-symbol x:m-sinh,
  :op :x-m-sinh,
  :emit :abstract,
  :cases [],
  :symbols [x:m-sinh]}
 {:category :xtalk-math,
  :canonical-symbol x:m-sqrt,
  :op :x-m-sqrt,
  :emit :abstract,
  :cases [],
  :symbols [x:m-sqrt]}
 {:category :xtalk-math,
  :canonical-symbol x:m-tan,
  :op :x-m-tan,
  :emit :abstract,
  :cases [],
  :symbols [x:m-tan]}
 {:category :xtalk-math,
  :canonical-symbol x:m-tanh,
  :op :x-m-tanh,
  :emit :abstract,
  :cases [],
  :symbols [x:m-tanh]}
 {:category :xtalk-notify,
  :canonical-symbol x:notify-socket,
  :op :x-notify-socket,
  :emit :abstract,
  :cases [],
  :symbols [x:notify-socket]}
 {:category :xtalk-obj,
  :canonical-symbol x:obj-assign,
  :raw xt.lang.base-lib/obj-assign,
  :type :hard-link,
  :op :x-obj-assign,
  :cases [],
  :symbols [x:obj-assign]}
 {:category :xtalk-obj,
  :canonical-symbol x:obj-clone,
  :raw xt.lang.base-lib/obj-clone,
  :type :hard-link,
  :op :x-obj-clone,
  :cases [],
  :symbols [x:obj-clone]}
 {:category :xtalk-obj,
  :canonical-symbol x:obj-keys,
  :raw xt.lang.base-lib/obj-keys,
  :type :hard-link,
  :op :x-obj-keys,
  :cases [],
  :symbols [x:obj-keys]}
 {:category :xtalk-obj,
  :canonical-symbol x:obj-pairs,
  :raw xt.lang.base-lib/obj-pairs,
  :type :hard-link,
  :op :x-obj-pairs,
  :cases [],
  :symbols [x:obj-pairs]}
 {:category :xtalk-obj,
  :canonical-symbol x:obj-vals,
  :raw xt.lang.base-lib/obj-vals,
  :type :hard-link,
  :op :x-obj-vals,
  :cases [],
  :symbols [x:obj-vals]}
 {:category :xtalk-proto,
  :canonical-symbol x:proto-create,
  :op :x-proto-create,
  :macro std.lang.base.grammar-xtalk/tf-proto-create,
  :emit :macro,
  :cases [],
  :doc "creates the prototype map",
  :symbols [x:proto-create]}
 {:category :xtalk-proto,
  :canonical-symbol x:proto-get,
  :op :x-proto-get,
  :emit :abstract,
  :cases [],
  :symbols [x:proto-get]}
 {:category :xtalk-proto,
  :canonical-symbol x:proto-set,
  :op :x-proto-set,
  :emit :abstract,
  :cases [],
  :symbols [x:proto-set]}
 {:category :xtalk-proto,
  :canonical-symbol x:proto-tostring,
  :op :x-proto-tostring,
  :emit :abstract,
  :cases [],
  :symbols [x:proto-tostring]}
 {:category :xtalk-return,
  :canonical-symbol x:return-encode,
  :op :x-return-encode,
  :emit :abstract,
  :cases [],
  :symbols [x:return-encode]}
 {:category :xtalk-return,
  :canonical-symbol x:return-eval,
  :op :x-return-eval,
  :emit :abstract,
  :cases [],
  :symbols [x:return-eval]}
 {:category :xtalk-return,
  :canonical-symbol x:return-wrap,
  :op :x-return-wrap,
  :emit :abstract,
  :cases [],
  :symbols [x:return-wrap]}
 {:category :xtalk-service,
  :canonical-symbol x:debug-client-basic,
  :op :x-debug-client-basic,
  :emit :abstract,
  :cases [],
  :symbols [x:debug-client-basic]}
 {:category :xtalk-service,
  :canonical-symbol x:debug-client-ws,
  :op :x-debug-client-ws,
  :emit :abstract,
  :cases [],
  :symbols [x:debug-client-ws]}
 {:category :xtalk-service,
  :canonical-symbol x:server-basic,
  :op :x-server-basic,
  :emit :abstract,
  :cases [],
  :symbols [x:server-basic]}
 {:category :xtalk-service,
  :canonical-symbol x:server-ws,
  :op :x-server-ws,
  :emit :abstract,
  :cases [],
  :symbols [x:server-ws]}
 {:category :xtalk-socket,
  :canonical-symbol x:socket-close,
  :op :x-socket-close,
  :emit :abstract,
  :cases [],
  :symbols [x:socket-close]}
 {:category :xtalk-socket,
  :canonical-symbol x:socket-connect,
  :op :x-socket-connect,
  :emit :abstract,
  :cases [],
  :symbols [x:socket-connect]}
 {:category :xtalk-socket,
  :canonical-symbol x:socket-send,
  :op :x-socket-send,
  :emit :abstract,
  :cases [],
  :symbols [x:socket-send]}
 {:category :xtalk-special,
  :canonical-symbol x:notify-http,
  :raw xt.lang.base-repl/notify-socket-http,
  :type :hard-link,
  :op :x-notify-http,
  :cases [],
  :symbols [x:notify-http]}
 {:category :xtalk-str,
  :canonical-symbol x:len,
  :raw x:len,
  :op :x-str-len,
  :emit :alias,
  :cases [],
  :symbols [x:str-len]}
 {:category :xtalk-str,
  :canonical-symbol x:str-char,
  :op :x-str-char,
  :emit :abstract,
  :cases [],
  :symbols [x:str-char]}
 {:category :xtalk-str,
  :canonical-symbol x:str-format,
  :op :x-str-format,
  :emit :abstract,
  :cases [],
  :symbols [x:str-format]}
 {:category :xtalk-str,
  :canonical-symbol x:str-index-of,
  :op :x-str-index-of,
  :emit :abstract,
  :cases [],
  :symbols [x:str-index-of]}
 {:category :xtalk-str,
  :canonical-symbol x:str-join,
  :op :x-str-join,
  :emit :abstract,
  :cases [],
  :symbols [x:str-join]}
 {:category :xtalk-str,
  :canonical-symbol x:str-replace,
  :op :x-str-replace,
  :emit :abstract,
  :cases [],
  :symbols [x:str-replace]}
 {:category :xtalk-str,
  :canonical-symbol x:str-split,
  :op :x-str-split,
  :emit :abstract,
  :cases [],
  :symbols [x:str-split]}
 {:category :xtalk-str,
  :canonical-symbol x:str-substring,
  :op :x-str-substring,
  :emit :abstract,
  :cases [],
  :symbols [x:str-substring]}
 {:category :xtalk-str,
  :canonical-symbol x:str-to-fixed,
  :op :x-str-to-fixed,
  :emit :abstract,
  :cases [],
  :symbols [x:str-to-fixed]}
 {:category :xtalk-str,
  :canonical-symbol x:str-to-lower,
  :op :x-str-to-lower,
  :emit :abstract,
  :cases [],
  :symbols [x:str-to-lower]}
 {:category :xtalk-str,
  :canonical-symbol x:str-to-upper,
  :op :x-str-to-upper,
  :emit :abstract,
  :cases [],
  :symbols [x:str-to-upper]}
 {:category :xtalk-str,
  :canonical-symbol x:str-trim,
  :op :x-str-trim,
  :emit :abstract,
  :cases [],
  :symbols [x:str-trim]}
 {:category :xtalk-str,
  :canonical-symbol x:str-trim-left,
  :op :x-str-trim-left,
  :emit :abstract,
  :cases [],
  :symbols [x:str-trim-left]}
 {:category :xtalk-str,
  :canonical-symbol x:str-trim-right,
  :op :x-str-trim-right,
  :emit :abstract,
  :cases [],
  :symbols [x:str-trim-right]}
 {:category :xtalk-thread,
  :canonical-symbol x:start-interval,
  :op :x-start-interval,
  :emit :abstract,
  :cases [],
  :symbols [x:start-interval]}
 {:category :xtalk-thread,
  :canonical-symbol x:stop-interval,
  :op :x-stop-interval,
  :emit :abstract,
  :cases [],
  :symbols [x:stop-interval]}
 {:category :xtalk-thread,
  :canonical-symbol x:thread-join,
  :op :x-thread-join,
  :emit :abstract,
  :cases [],
  :symbols [x:thread-join]}
 {:category :xtalk-thread,
  :canonical-symbol x:thread-spawn,
  :op :x-thread-spawn,
  :emit :abstract,
  :cases [],
  :symbols [x:thread-spawn]}
 {:category :xtalk-thread,
  :canonical-symbol x:with-delay,
  :op :x-with-delay,
  :emit :abstract,
  :cases [],
  :symbols [x:with-delay]}
 {:category :xtalk-type,
  :canonical-symbol x:is-array?,
  :op :x-is-array?,
  :emit :abstract,
  :cases [],
  :symbols [x:is-array?]}
 {:category :xtalk-type,
  :canonical-symbol x:is-boolean?,
  :op :x-is-boolean?,
  :emit :abstract,
  :cases [],
  :symbols [x:is-boolean?]}
 {:category :xtalk-type,
  :canonical-symbol x:is-function?,
  :op :x-is-function?,
  :emit :abstract,
  :cases [],
  :symbols [x:is-function?]}
 {:category :xtalk-type,
  :canonical-symbol x:is-integer?,
  :op :x-is-integer?,
  :emit :abstract,
  :cases [],
  :symbols [x:is-integer?]}
 {:category :xtalk-type,
  :canonical-symbol x:is-number?,
  :op :x-is-number?,
  :emit :abstract,
  :cases [],
  :symbols [x:is-number?]}
 {:category :xtalk-type,
  :canonical-symbol x:is-object?,
  :op :x-is-object?,
  :emit :abstract,
  :cases [],
  :symbols [x:is-object?]}
 {:category :xtalk-type,
  :canonical-symbol x:is-string?,
  :op :x-is-string?,
  :emit :abstract,
  :cases [],
  :symbols [x:is-string?]}
 {:category :xtalk-type,
  :canonical-symbol x:to-number,
  :op :x-to-number,
  :emit :abstract,
  :cases [],
  :symbols [x:to-number]}
 {:category :xtalk-type,
  :canonical-symbol x:to-string,
  :op :x-to-string,
  :emit :abstract,
  :cases [],
  :symbols [x:to-string]}
 {:category :xtalk-uri,
  :canonical-symbol x:uri-decode,
  :op :x-uri-decode,
  :emit :abstract,
  :cases [],
  :symbols [x:uri-decode]}
 {:category :xtalk-uri,
  :canonical-symbol x:uri-encode,
  :op :x-uri-encode,
  :emit :abstract,
  :cases [],
  :symbols [x:uri-encode]}
 {:category :xtalk-ws,
  :canonical-symbol x:ws-close,
  :op :x-ws-close,
  :emit :abstract,
  :cases [],
  :symbols [x:ws-close]}
 {:category :xtalk-ws,
  :canonical-symbol x:ws-connect,
  :op :x-ws-connect,
  :emit :abstract,
  :cases [],
  :symbols [x:ws-connect]}
 {:category :xtalk-ws,
  :canonical-symbol x:ws-send,
  :op :x-ws-send,
  :emit :abstract,
  :cases [],
  :symbols [x:ws-send]}]
