{;;
 ;; FULL
 ;;
 
 :js     {:include [xt.lang
                    xt.event
                    xt.substrate
                    xt.mcp
                    xt.db
                    kmi.lang]
          :exclude [xt.sample]}
 :lua    {:include [xt.lang
                    xt.event
                    xt.substrate
                    xt.mcp
                    xt.db
                    kmi.lang]
          :exclude [xt.sample]}
 :python {:include [xt.lang
                    xt.event
                    xt.substrate
                    xt.mcp
                    xt.db
                    kmi.lang]
          :exclude [xt.sample]}
 :dart   {:include [xt.lang
                    xt.event
                    xt.substrate
                    xt.mcp
                    xt.db
                    kmi.lang]
          :exclude [xt.sample]}
 
 ;;
 ;; FULL HOPEFUL
 ;;

 :ruby   {:include [xt.lang
                    xt.event
                    xt.substrate
                    xt.db
                    kmi.lang]
          :exclude [xt.sample]}
 :php    {:include [xt.lang
                    xt.event
                    kmi.lang]
          :exclude [xt.sample]}

 :r      {:include [xt.lang]
          :exclude [xt.sample]}
 
 :scheme {:include [xt.lang]
          :exclude [xt.sample]}
 
 :elisp  {:include [xt.lang
                    xt.event
                    kmi.lang]
          :exclude [xt.sample]}
 ;;
 ;; PARTIAL
 ;;
 :julia  {:include [xt.lang
                    xt.event
                    kmi.lang]
          :exclude [xt.sample]}
  
 }
