{:ns-groups
 [{:pattern "^xt\\.lang\\."
   :name clj-kondo.hooks.hara-xtalk}
  {:pattern ".+"
   :name clj-kondo.hooks.hara-postgres}]

 :hooks
 {:analyze-call
  {hara.lang/script clj-kondo.hooks.hara-postgres/script
   hara.lang/script- clj-kondo.hooks.hara-postgres/script
   hara.lang/script+ clj-kondo.hooks.hara-postgres/script
   hara.lang/defspec.xt clj-kondo.hooks.hara-xtalk/defspec-xt
   hara.typed/defspec.xt clj-kondo.hooks.hara-xtalk/defspec-xt
   defspec.xt clj-kondo.hooks.hara-xtalk/defspec-xt
   defglobal.xt clj-kondo.hooks.hara-xtalk/defglobal-xt
   defn.pg clj-kondo.hooks.hara-postgres/defn-pg
   defrun.pg clj-kondo.hooks.hara-postgres/defn-pg
   clj-kondo.hooks.hara-xtalk/defn.xt clj-kondo.hooks.hara-xtalk/defn-xt
   clj-kondo.hooks.hara-xtalk/def.xt clj-kondo.hooks.hara-xtalk/def-xt
   clj-kondo.hooks.hara-xtalk/defmacro.xt clj-kondo.hooks.hara-xtalk/defmacro-xt
   clj-kondo.hooks.hara-xtalk/defgen.xt clj-kondo.hooks.hara-xtalk/defgen-xt
   clj-kondo.hooks.hara-xtalk/defvar.xt clj-kondo.hooks.hara-xtalk/defvar-xt
   clj-kondo.hooks.hara-xtalk/defspec.xt clj-kondo.hooks.hara-xtalk/defspec-xt
   clj-kondo.hooks.hara-xtalk/defglobal.xt clj-kondo.hooks.hara-xtalk/defglobal-xt
   fact clj-kondo.hooks.hara-xtalk/fact-xt
   fact:global clj-kondo.hooks.hara-xtalk/fact-global-xt
   clj-kondo.hooks.hara-postgres/defn.pg clj-kondo.hooks.hara-postgres/defn-pg
   clj-kondo.hooks.hara-postgres/defrun.pg clj-kondo.hooks.hara-postgres/defn-pg}}

 :linters
 {:namespace-name-mismatch {:level :off}
  :hara.postgres/one-let {:level :warning}
  :hara.postgres/nested-let {:level :warning}
  :hara.postgres/input-prefix {:level :warning}
  :hara.postgres/local-prefix {:level :warning}
  :hara.postgres/return-bound {:level :warning}
  :hara.xtalk/block-in-value {:level :error}
  :hara.xtalk/field-collision {:level :error}
  :hara.xtalk/invalid-destructuring {:level :error}
  :hara.xtalk/redundant-get-key {:level :warning}
  :hara.xtalk/redundant-fn-arrow {:level :warning}
  :hara.xtalk/nested-dot-access {:level :warning}}}
