{:template {:author "Chris Zheng"
            :email  "zcaudate@outlook.com"
            :site   "foundation"
            :tracking-enabled "true"
            :tracking "UA-31320512-2"}
 :snippets "src-doc/snippets"
 :sites      {:core         [:include "config/publish/foundation.core.edn" {:type :edn}]
              :hara         [:include "config/publish/hara.edn" {:type :edn}]
              :code         [:include "config/publish/code.edn" {:type :edn}]
              :xt           [:include "config/publish/xt.edn" {:type :edn}]
              :std          [:include "config/publish/std.edn" {:type :edn}]
              :test-site    [:include "config/publish/test.site.edn" {:type :edn}]}}
