[[:section {:title "Installation"}]]

"Add to `project.clj` dependencies:

    [lang/base \"{{PROJECT.version}}\"]"

"All functions are in the `lang.{{DOCUMENT.title}}` namespace.
     
     (use (quote lang.{{DOCUMENT.title}}))"