[[:section {:title "Installation"}]]

"Add to `project.clj` dependencies:

    [tahto/base \"{{PROJECT.version}}\"]"

"All functions are in the `tahto.{{DOCUMENT.title}}` namespace.
     
     (use (quote tahto.{{DOCUMENT.title}}))"